@{
    ViewData["title"] = "About";
}

<h2>@ViewData["title"]</h2>

<div class="jumbotron">
    <h3>@Model.AppName</h3>

    <p>
        @Model.Version<br />
        &copy; @Model.Copyright<br />
        <a href="@Model.Url" target="_blank" rel="noreferrer noopener">@Model.Url</a>
    </p>
</div>