@model IEnumerable<SimpleWebAppMVC.Models.TaskDbModel>

@{
    ViewData["Title"] = "Tasks";
}

<h2>@ViewData["Title"]</h2>

<div class="jumbotron">
    <p><a asp-action="Create">Create New</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.ActionLink("Title",       "Index", new { sort = ViewBag.TitleSortParm })</th>
                <th>@Html.ActionLink("Description", "Index", new { sort = ViewBag.DescriptionSortParm })</th>
                <th>@Html.ActionLink("Date",        "Index", new { sort = ViewBag.DateSortParm })</th>
                <th>@Html.ActionLink("Status",      "Index", new { sort = ViewBag.StatusSortParm })</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    <a asp-action="Edit"    asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete"  asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div>@Html.ActionLink("Download JSON", "GetJSON", new { sort = @ViewData["sortJSON"] }, new { target="_blank" })</div>
</div>
